#main-wrap {
  display: grid;
  gap: calc(0.25rem * 8);
  grid-template-columns: 17rem minmax(0, 1fr);

  max-width: var(--main-max-width);
  min-height: calc(100vh - var(--header-height));
  margin: 0 auto;
}

.post-content {
  padding: calc(0.25rem * 6) 0;
  margin-right: calc(0.25rem * 6);
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  align-self: start;

  padding: calc(0.25rem * 6) calc(0.25rem * 2) calc(0.25rem * 4);

  overflow-x: hidden;
  overflow-y: auto;

  border-right: 1px solid var(--sidebar-border-color);
}

.content-error {
  padding: 2rem;
  text-align: center;
  color: var(--danger);
}
